
html,
body,
#nv_search_body {
    margin: 0;
    padding: 0;
    background-color:#f2f2f2 !important;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

body {
    font-size: 12px;
    font-family: "Microsoft Yahei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", sans-serif !important;
}

/*
* deepin top bar
*/

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.invisible {
    display: none;
}

.navbar {
    position: relative;
    min-height: 50px;
    width: 100%;
    /*border: 1px solid transparent;*/
}

.nav-container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.nav {
    padding-left: 0;
    /*padding-bottom:90px;*/
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav > li {
    float: left;
}
.navbar-nav .a {
    background: #394059;
}

.navbar-right {
    float: right!important;
    margin-right: auto !important;
}
.navbar-collapse {
    border-top:none!important;
}

.selected {
    color: #01BDFF !important;
    background: rgb(0, 0, 0) !important;
    background: rgba(0, 0, 0, 0.18) !important;
}

#top {
    margin: 0;
    height: 77px;
    background: url(../image/nav_bg.png) repeat-x;
}

#top .nav-container {
    height: 100%;
    background-color: #293044;
}

#top .nav-container .navbar-collapse.collapse {
    height: 70px !important;
}

/*
#top .container .navbar-collapse.collapse > ul {
    height: 100%;
}
*/
#top .nav-container .navbar-collapse.collapse > ul > li > a,
#top .nav-container div .navbar-nav .navbar-right {
    line-height: 76px;
    text-shadow: none;
}

#top .nav-container div ul li {
    position: relative;
    list-style-type: none;
}

#top .nav-container > div > ul > li > a {
    cursor: pointer;
    color: #E2E2E2;
    font-size: 16px;
}

#top .nav-container > div > ul > li > a:focus {
    color: #01BDFF;
    background: transparent;
    outline: none;
}

.selected {
    color: #01BDFF !important;
    background: rgb(0, 0, 0) !important;
    background: rgba(0, 0, 0, 0.18) !important;
}

#top .nav-container .logo {
    line-height: 52px;
    margin-right: 18px;
}

#top .nav-container .navbar-nav > li > a {
    padding: 0 23px;
}

#top .nav-container .nav.navbar-nav.navbar-right div {
    line-height: 70px;
}

/*
* Style for sub menus.
*/

#top .nav-container .sub {
    display: none;
    position: absolute;
    top: 70px;
    min-width: 800px;
    margin: 0;
    padding: 0;
    height: 47px;
    z-index: 99;
}

#top .nav-container .sub li {
    float: left;
    position: relative;
    display: inline-block;
    height: 47px;
    overflow: hidden;
    line-height: 10px;
    list-style-type: none;
    padding: 20px 0 20px 0;

    /*fallback for those browser don't support rgba*/
    background: url(../image/nav_bg.png);

    background: rgba(0, 0, 0, 0.3);
}

#top .nav-container .sub li:first-of-type {
    border-bottom-left-radius: 4px;
}

#top .nav-container .sub li:last-of-type {
    border-bottom-right-radius: 4px;
}

#top .nav-container .sub li a {
    color: #E2E2E2;
    font-size: 14px;
    padding: 0 28px;
    border-right: 1px solid #E2E2E2;
    text-decoration: none;
}

#top .nav-container .sub li:last-of-type a,
    /*fallback*/
#top .nav-container .sub li.last-of-type a {
    border: none;
}

.user-info {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.user-info a {
    float: left;
}

.user-info img {
    width: 35px;
    height: 35px;
    margin: 0 15px 0 0;
    border-radius: 50%;
}

.user-info .user {
    position: relative;
}

.user-info .user .message-count {
    color: #FFFFFF;
    position: absolute;
    top: 13px;
    right: 13px;
    border-radius: 50%;
    padding: 0 5px;
    line-height: normal !important;
    background-color: #EA5E28;
}

.user-info .user-icon {
    width: 16px;
    height: 16px;
    margin: 22px 0 0 22px;
    cursor: default;
    border-radius: 0;
}

.user-info .user-menu {
    position: relative;
    float: left;
}

.user-info .user-menu > div {
    float: right;
}

.user-info .user-name {
    color: #E2E2E2;
    margin-left: 10px;
    font-size: 14px;
}

.not-login {
    height: 59px;
    /*width: 150px;*/
}

.not-login li {
    padding: 0 5px;
    float: left;
}

.not-login li,
.not-login li a {
    color: #9EA8C1;
    font-size: 14px;
}

.arrow-down {
    margin-top: 28px;
    margin-left: 10px;
    width: 12px;
    height: 6px;
    background: url(../image/down_arrow.png) no-repeat;
}

.dropdown {
    position: absolute!important;
    top: 45px;
    margin: 0;
    z-index: 9999;
}

.dropdown .dropdown-list {
    border-radius: 4px;
    background-color: #0B1125;
    padding: 16px 22px 17px 22px;
}

.dropdown .dropdown-list li {
    padding: 0;
    margin: 0;
    line-height: normal;
    text-align: left;
    list-style-type: none;
}

.dropdown .dropdown-list li a {
    color: #E2E2E2;
    float: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 26px;
    white-space: nowrap;
    text-decoration: none;
}
.dropdown .dropdown-list li:hover a {
    color: #0086DA;
}

.downlist {
    width: 10px;
    height: 70px;
    display: block;
    margin: 0 20px 0 20px;
    background: 0 33px url(../image/icon_arrow.png) no-repeat;
}

.global {
    position: relative;
    width: 29px;
    height: 27px;
    margin: 18px 0 0 0;
    cursor: pointer;
    background: 5px 5px url(../image/icon_language.png) no-repeat;
}

.label.username {
    font-size: 14px;
    float: left;
    color: #9EA8C1;
    font-weight: normal;
}
.label {
    line-height: 4!important;
}

.global .language-panel {
    position: absolute;
    top: 28px;
    left: -32px;
}

.arrow {
    margin-left: 40px;
    width: 10px;
    height: 5px;
    background: url(../image/arrow.png) no-repeat;
}

.global .language-list {
    padding: 16px 22px 17px 22px;
    margin: 0;
    background-color: #0B1125;
    border-radius: 4px;
}

.global .language-list li {
    padding: 0;
    margin: 0;
    line-height: normal;
    text-align: center;
    list-style-type: none;
}

.global .language-list li a {
    color: #E2E2E2;
    cursor: pointer;
    font-size: 12px;
    line-height: 26px;
    white-space: nowrap;
    text-decoration: none;
}

.global .language-list li:hover a {
    color: #0086DA;
}

.search {
    position: relative;
    cursor: pointer;
    margin-top: 24px;
    width: 29px;
    height: 27px;
    /*background: 5px 5px url("../img/icon_search.png") no-repeat;*/
}

.search .search-button,
#scbar_btn
{
    position: absolute;
    width: 29px;
    height: 29px;
    left: 0;
    top: -3px;
}

#scbar_btn {
    display: none;
    height: 31px;
    background: #0086DA 5px 7px url(../image/icon_search.png) no-repeat;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search .search-button img {
    position: absolute;
    left: 6px;
    top: 8px;
}

/*
.search .search-form {
    display: none;
    position: absolute;
    right: 0;
    width: 270px;
}
*/

.search input {
    display: none;
    position: absolute;
    top: -3px;
    right: 29px;
    height: 29px;
    width: 241px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    border: none;
    line-height: 27px;
    padding-left: 14px;
    font-size: 12px;
}

.search .dropdown-list {
    position: absolute;
    top: -3px;
    right: 29px;
    height: 26.5px;
    width: 241px;
}


#top {
    height: 59px;
    /*overflow: hidden;*/
    background: #293044;
    border-bottom: 1px solid #1D222F;
}

.navbar-header {
    float: left;
    margin-right: 0;
    margin-left: 0;
}

.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    visibility: visible!important;
}

#top .nav-container .navbar-collapse.collapse {
    height: 59px !important;
}


#top .nav-container .logo img {
    width: 94px;
    height: 25px;
}

#top .nav-container .nav.navbar-nav.navbar-right div {
    line-height: 60px;
}

#top .nav-container .nav .sub {
    top: 60px;
}

.downlist {
    height: 60px;
    background: 0 28px url(../image/icon_arrow.png) no-repeat;
}

.search {
    margin-top: 18px;
}

.search .search-button.clicked {
    background-color: #0086DA;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#top .nav-container .navbar-collapse.collapse > ul > li > a,
#top .nav-container div .navbar-nav .navbar-right,
.back  {
    color: #9EA8C1;
    font-size: 14px;
    height: 59px;
    line-height: 60px;
    padding-top: 0;
    padding-bottom: 20px;
    text-decoration: none;
}

#top .nav-container .navbar-collapse.collapse > ul > li > a:hover,
.back:hover,
.back:focus {
    background: #394059;
}



/*@media only screen and (min-width: 100px) {*/
/*.content1 .container {*/
/*width:1170px!important;*/
/*}*/
/*}*/

/*@media only screen and (max-width:1200px) and (min-width: 100px){*/
/*#top {*/
/*width:1180px!important ;*/
/*}*/
/*.navbar-nav {*/
/*margin:0!important;*/
/*}*/
/*}*/
/*@media only screen and (max-width: 1300px) and (min-width:100px){*/
/*#top {*/
/*width:100%!important ;*/
/*}*/
/*.navbar-nav {*/
/*margin:0!important;*/
/*}*/

/*}*/
/*@media only screen and (max-width: 1400px) and (min-width:1300px){*/
/*#top {*/
/*width:100%!important ;*/
/*}*/
/*.navbar-nav {*/
/*margin:0!important;*/
/*}*/

/*}*/
@media only screen and (max-width: 767px){
    .navbar-nav {
        margin-top:-55px!important;
    }

}