.ct_nav {
    height:70px;
    width:100%;
    background-color: #fcfcfc;
    border-bottom: 1px solid #e4eaee;
}
.ct_nav p {
    width:750px;
    padding-top: 30px;
    margin-left:20px!important;
}
.ct_nav p span {
    color:#acb2be;
    margin-left:5px!important;
    margin-right:5px!important;
}
.ct_nav p a {
    color:#515d7a;
    font-size: 14px;
}
.ct_nav p a:hover {
    text-decoration: none;
    cursor: pointer;
}

#post {
    float:right;
    color:#fff;
    font-size:14px;
    height:34px;
    width:107px;
    border-radius: 4px;
    background-color: #0086DA;
    margin-top: -35px;
    /*margin-right: 750px;*/
    padding-bottom: 10px;
    padding-top: 7px;
    cursor:pointer;
    text-decoration: none;
    padding-left: 14px;
}
#post img {
    margin-right:8px;
}
.content {
    margin-top:15px;
    z-index: 1;
}
.cont {
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    width: 1170px;
    background-color: #fff;
}
.theme {
    padding-top:33px!important;
}
.search_con {
    margin-left:50px;
    margin-bottom: 20px;
}
#search_box {
    width:412px;
    height:36px;
    border: 1px solid #c9d1e1;
    float:left;
    border-radius: 5px;
    margin-right:5px;
}
#search_bt {
    width:107px;
    height:36px;
    background-color: #1e96df;
    color:#fff;
    font-size:16px;
    border: none;
    border-radius: 5px;
}
#search_bt:hover{
    background-color: #0c80c6;
}
.search_tip {
    height:40px;
    margin:0 50px 12px 50px;
    background-color: #f5f7fa;
    padding-left:15px;
    padding-top: 10px;
    color:#232a3c;
    font-size:14px;
}
.search_tip span {
    color:#ea5e28;
}
.theme_search_list {
    margin-right:50px;
    list-style: none;
    border-bottom: 1px solid #efefef;
    margin-top: 18px;
}
.theme_list_con {
    margin-left:10px;
}
.theme_list_con .title .theme_list_post a{
    font-size:16px;
    color:#232a3c;
}
.theme_list_ct {
    margin-top: -24px;
    font-size:14px;
    color:#515d7a;
    line-height: 26px;
    margin-bottom: 18px;
}
.auth_msg.clearfix {
    font-size:12px;
}
.auth_msg.clearfix p{
    color:#ACB2BE;
    margin-bottom: 18px;
}


